.containerSuggestionCard {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;
}
.leftSuggestionCard {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardAvatar {
  width: 32px;
  height: 32px;
  border-radius: 30px;
  margin-right: 10px;
}
.suggestionCardText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.cardTag {
  text-decoration: none;
  font-size: 15px;
  margin-bottom: 5px;
}
.cardText {
  max-lines: 1;
  color: var(--black-secondary);
  font-size: 15px;
}
.buttonFollow {
  margin-left: 1rem;
  color: var(--blue-primary);
  font-weight: bold;
  font-size: 15px;
}